$body-line-height-factor: 1.5 !default;
$min-line-height-factor: 1.2 !default;
$desired-body-font-size: 18px !default;
$modular-scale: 1.257 !default;
$hr-height: 1px !default;

$body-leading: round($desired-body-font-size*$body-line-height-factor)/16px*1rem;
$vertical-rhythm-base: $body-leading;
$vertical-space-base: $vertical-rhythm-base;

@import "modules/flow-rhythm";

@import "L2-spacing";

/* Kingdom CSS Level 3 - Vertical Rhythm */

* {
  font-size: inherit;
  line-height: inherit;
}

hr {
  // Fit thematic break into the vertical rhythm
  height: $hr-height; // Give the <hr> a fixed height to reset user agent styles
  margin-bottom: -$hr-height; //This negative margin pulls the succeeding element closer
  border: 0;
  background-color: currentColor;
}
