$body-line-height-factor: 1.5 !default;
$min-line-height-factor: 1.2 !default;
$desired-body-font-size: 18px !default;
$modular-scale: 1.257 !default;
$hr-height: 1px !default;
$hr-color: currentColor;

@import "modules/converters";

$body-leading: round(font-size-px($desired-body-font-size)*$body-line-height-factor)/font-size-px(1)*1rem !default;
$vertical-rhythm-base: $body-leading;
$vertical-space-base: $vertical-rhythm-base;

$font-size-1: $body-leading/$body-line-height-factor !default;
$font-size-2: $font-size-1*$modular-scale !default;
$font-size-3: $font-size-2*$modular-scale !default;
$font-size-4: $font-size-3*$modular-scale !default;
$font-size-5: $font-size-4*$modular-scale !default;
$font-size-6: $font-size-5*$modular-scale !default;
$font-size-small: 80% !default;

@import "modules/flow-rhythm";

$line-height-1: flow-line-height($font-size-1) !default;
$line-height-2: flow-line-height($font-size-2) !default;
$line-height-3: flow-line-height($font-size-3) !default;
$line-height-4: flow-line-height($font-size-4) !default;
$line-height-5: flow-line-height($font-size-5) !default;
$line-height-6: flow-line-height($font-size-6) !default;

@import "L2-spacing";

/* Kingdom CSS Level 3 - Vertical Rhythm */

// Helpers for text sizing

.text-1 {
  @include flow-text($font-size-1, $line-height-1);
}

.text-2 {
  @include flow-text($font-size-2, $line-height-2);
}

.text-3 {
  @include flow-text($font-size-3, $line-height-3);
}

.text-4 {
  @include flow-text($font-size-4, $line-height-4);
}

.text-5 {
  @include flow-text($font-size-5, $line-height-5);
}

.text-6 {
  @include flow-text($font-size-6, $line-height-6);
}

.text-inherit {
  font-size: inherit;
  line-height: inherit;
  //TODO: handle --line-height
}

.text-small {
  font-size: $font-size-small;
}

.text-body {
  @extend .text-1;
}


// Apply text properties to elements...

body {
  @extend .text-body;
}

* {
  @extend .text-inherit;
}

small {
  @extend .text-small;
}

h1 {
  @extend .text-6;
}

h2 {
  @extend .text-5;
}

h3 {
  @extend .text-4;
}

h4 {
  @extend .text-3;
}

h5 {
  @extend .text-2;
}

h6 {
  @extend .text-1;
}

hr {
  // Fit thematic break into the vertical rhythm
  height: $hr-height; // Give the <hr> a fixed height to reset user agent styles
  margin-bottom: -$hr-height; // This negative margin pulls the succeeding element closer
  border: 0; // Remove user agent borders
  background-color: $hr-color;
}
