/* Utilities for spacing */

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

$number-of-vertical-margin-utilities: 8 !default;
@for $i from 1 through $number-of-vertical-margin-utilities {
  .mt-#{$i} {
    margin-top: $i*$vertical-space-base;
  }
}

$number-of-horizontal-margin-utilities: 6 !default;
@for $i from 1 through $number-of-horizontal-margin-utilities {
  $length: $i*$vertical-space-base;

  .mx-#{$i} {
    margin-left: $length;
    margin-right: $length;
  }

  .ml-#{$i} {
    margin-left: $length;
  }

  .mr-#{$i} {
    margin-right: $length;
  }
}

// TODO: s and xs horizontal margin utils

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

$number-of-vertical-padding-utilities: 4 !default;
@for $i from 1 through $number-of-vertical-padding-utilities {
  $length: $i*$vertical-space-base;

  .p-#{$i} {
    padding: $length;
  }

  .pt-#{$i} {
    padding-top: $length;
  }

  .pb-#{$i} {
    padding-bottom: $length;
  }

  .px-#{$i} {
    padding-left: $length;
    padding-right: $length;
  }

  .py-#{$i} {
    padding-top: $length;
    padding-bottom: $length;
  }
}

.px-sm {
  $length: 0.5*$vertical-space-base;
  padding-left: $length;
  padding-right: $length;
}

.px-xs {
  $length: 0.25*$vertical-space-base;
  padding-left: $length;
  padding-right: $length;
}


//TODO: generate height utilities .h-1 (or lines-1) etc
//TODO: generate width utilities .w-1 etc
