/* Utilities for spacing */

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

$vertical-margin-utilities: 1 2 3 4 6 9 !default;
@each $i in $vertical-margin-utilities {
  $length: $i*$vertical-space-base;

  .mt-#{$i} {
    margin-top: $length;
  }
}

$horizontal-margin-utilities: 1 2 3 4 6 !default;
@each $i in $horizontal-margin-utilities {
  $length: $i*$vertical-space-base;

  .mx-#{$i} {
    margin-left: $length;
    margin-right: $length;
  }

  .ml-#{$i} {
    margin-left: $length;
  }

  .mr-#{$i} {
    margin-right: $length;
  }
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

$padding-utilities: 1 2 3 4 !default;
@each $i in $padding-utilities {
  $length: $i*$vertical-space-base;

  .p-#{$i} {
    padding: $length;
  }

  .pt-#{$i} {
    padding-top: $length;
  }

  .pb-#{$i} {
    padding-bottom: $length;
  }

  .px-#{$i} {
    padding-left: $length;
    padding-right: $length;
  }

  .py-#{$i} {
    padding-top: $length;
    padding-bottom: $length;
  }
}

$fraction-spacing-utilities: (
  'sm': $vertical-space-base/2,
  'xs': $vertical-space-base/4,
) !default;
@each $suffix, $length in $fraction-spacing-utilities {
  .px-#{$suffix} {
    padding-left: $length;
    padding-right: $length;
  }

  .mx-#{$suffix} {
    margin-left: $length;
    margin-right: $length;
  }

  .ml-#{$suffix} {
    margin-left: $length;
  }

  .mr-#{$suffix} {
    margin-right: $length;
  }
}

//TODO: generate height utilities .h-1 (or lines-1) etc
//TODO: generate width utilities .w-1 etc
