$border-width: 1px !default;
$border-color: currentColor !default;
$border-style: solid !default;
$body-line-height-factor: 1.5 !default;

@import '../modules/strip-unit';

@mixin set-border($sides: top bottom left right, $width: $border-width) {
  @each $side in $sides {
    border-#{$side}-width: $width;
    --border-#{$side}-width: $width;
    border-#{$side}-width: var(--border-#{$side}-width);
  }

  @if index($sides, top) {
    @if strip-unit($width) > 0 {
      position: relative;
      top: -$width;
      top: calc(0px - var(--border-top-width));
    } @else {
      position: initial;
      top: initial;
    }
  }

  @if index($sides, top) or index($sides, bottom) {
    margin-bottom: 0 - if(index($sides, top), $width, 0) - if(index($sides, bottom), $width, 0);
    margin-bottom: calc(0px - var(--border-top-width, 0px) - var(--border-bottom-width, 0px));
  }

  @if index($sides, top) and strip-unit($width) > 0 {
    &%height-multiple {
      position: initial;
      top: initial;
      margin-bottom: 0;
    }
  }

  @if index($sides, bottom) {
    > %baseline-shift:last-child {
      @extend %pb-1 !optional;
    }
  }
}

// Use this with one-line inline elements (e.g. form inputs) to match their height to surrounding text
@mixin set-border-preserving-line-height($line-height: $body-line-height-factor, $width: $border-width) {
  line-height: font-size-rem($line-height) - length-rem(2 * $width);
  line-height: calc(var(--line-height, #{$line-height}) - 2 * #{$width});
  border-width: $width;
}

// Set a default border style to allow just setting border-width when needed
// https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
@mixin reset-border($color: $border-color, $style: $border-style) {
  border: 0 $style $border-color;
}
