@mixin set-border($sides: top bottom left right, $width: 1px, $style: solid, $color: currentColor) {
  @each $side in $sides {
    border-#{$side}-width: $width;
    border-#{$side}-style: $style;
    border-#{$side}-color: $color;

    --border-#{$side}-width: $width;
    border-#{$side}-width: var(--border-#{$side}-width);
  }

  position: relative;
  top: -$width;

  @if(index($sides, top) or index($sides, bottom)) {
    margin-bottom: 0 - if(index($sides, top), $width, 0) - if(index($sides, bottom), $width, 0);
    margin-bottom: calc(0px - var(--border-top-width, 0px) - var(--border-bottom-width, 0px));
  }

  &%height-multiple {
    position: initial;
    top: initial;
    margin-bottom: 0;
  }

  > %baseline-shift:last-child {
    @extend %pb-1;
  }
}
