// Breakpoints inspired by David Gilbertson
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862

$device-breakpoints: (tablet-portait: 600px, tablet-landscape: 900px, desktop: 1200px, big-desktop: 1800px) !default;
$named-breakpoints: () !default;

@import "converters";

@function get-breakpoint($name) {
  @return map-get(map-merge($device-breakpoints, $named-breakpoints), $name);
}

@if variable-exists(readable-line-length-min) {
  $named-breakpoints: map-merge($named-breakpoints, (readable-line-length-min: length-rem($readable-line-length-min)));
  // Two column breakpoint includes default gutter and some horizontal padding
  $named-breakpoints: map-merge($named-breakpoints, (two-columns: length-rem(2 * $readable-line-length-min) + length-rem(1em) + length-rem(1 * $spacing-base)));
}

@if variable-exists(readable-line-length-max) {
  $named-breakpoints: map-merge($named-breakpoints, (readable-line-length-max: length-rem($readable-line-length-max)));
}

@mixin for-phone-only {
  @media (max-width: get-breakpoint(tablet-portait) - 1) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: get-breakpoint(tablet-portait)) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: get-breakpoint(tablet-landscape)) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: get-breakpoint(desktop)) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: get-breakpoint(big-desktop)) {
    @content;
  }
}
