// Clearfix from https://css-tricks.com/snippets/css/clear-fix/

// Provide the $supports-condition to disable the clearfix when that condition is supported
@mixin clearfix($supports-condition: false) {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @if ($supports-condition) {
    @supports (#{"(" + $supports-condition + ")"}) {
      &::after {
        display: none;
      }
    }
  }
}
