// Clearfix from https://css-tricks.com/snippets/css/clear-fix/

// Add a supports-condition to disable the clearfix when the condition is supported
@mixin clearfix($supports-condition: false) {
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @if($supports-condition) {
    @supports(#{$supports-condition}) {
      &::after {
        display: none;
      }
    }
  }
}
