$colors: () !default;

@function get-color($name, $get-text-color: false) {
  $list: map-get($colors, $name);
  @if $get-text-color and length($list) < 2 {
    @error "No text color exists for '#{$name}' in the global $colors map";
  }
  @return nth($list, if($get-text-color, 2, 1));
}

@function text-color-for-background($background-color) {
  @if lightness($background-color) > 50% {
    @return scale_color($background-color, $lightness: -95%, $saturation: -50%);
  } @else {
    @return scale_color($background-color, $lightness: 90%, $saturation: -50%);
  }
}

@function background-text-color-pair($background-color) {
  @return $background-color text-color-for-background($background-color);
}

@mixin set-color($name: primary, $property: color, $use-text-color: false) {
  #{$property}: get-color($name, $use-text-color);
  $var_name: --color-#{$name};
  @if($use-text-color) {
    $var_name: $var_name + '-text';
  }
  #{$property}: var(#{$var-name}, get-color($name, $use-text-color));
}

@mixin set-background-color($name, $set-text-color: true) {
  @include set-color($name, background-color);
  @if ($set-text-color) {
    @include set-color($name, $use-text-color: true);
  }
}
