// Lists of and mixins for different types of elements
// https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories

// Elements that are set to display: block by default
$html-block-elements: address,
article,
aside,
blockquote,
canvas,
dd,
details, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1, h2, h3, h4, h5, h6,
header,
hgroup,
hr,
  //li,
main,
menu, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
nav,
  //noscript,
ol,
output,
p,
pre,
section,
ul,
video !default;

// Block elements that usually contain just phrasing content or some kind of list items
$html-text-block-elements: address,
blockquote,
dl,
figcaption,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
ul !default;

// https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content
$html-inline-block-elements: button,
img,
input,
object,
select,
textarea !default;

$html-inline-elements: a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
kbd,
label,
map,
q,
samp,
script,
small,
span,
strong,
sub,
sup,
time,
tt,
var !default;

@function amend-element-list($list, $remove: (), $insert: ()) {
  $result: ();

  @for $i from 1 through length($list) {
    @if not index($remove, nth($list, $i)) {
      $result: append($result, nth($list, $i), comma);
    }
  }

  $result: append($result, $insert);

  @return $result;
}

@mixin block-level-elements($except: (), $including: ()) {
  $elements: amend-element-list($html-block-elements, $remove: $except, $insert: $including);
  #{$elements} {
    @content;
  }
}

@mixin inline-block-elements($except: (), $including: ()) {
  $elements: amend-element-list($html-inline-block-elements, $remove: $except, $insert: $including);
  #{$elements} {
    @content;
  }
}

@mixin inline-elements($except: (), $including: ()) {
  $elements: amend-element-list($html-inline-elements, $remove: $except, $insert: $including);
  #{$elements} {
    @content;
  }
}
