$html-block-elements: address,
article,
aside,
blockquote,
canvas,
dd,
details, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1, h2, h3, h4, h5, h6,
header,
hgroup,
hr,
li,
main,
menu, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
nav,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video !default;

$html-inline-elements: a,
abr,
acronym,
b,
bdo,
big,
br,
button,
cite,
code,
dfn,
em,
i,
img,
input,
kbd,
label,
map,
object,
q,
samp,
script,
select,
small,
span,
strong,
sub,
sup,
textarea,
time,
tt,
var !default;

@mixin block-level-elements() {
  $elements: $html-block-elements;
  #{$elements} {
    @content;
  }
}
