// Lists of and mixins for different types of elements
// https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories

// Elements that are set to display: block by default
$html-block-elements: address,
article,
aside,
blockquote,
canvas,
dd,
details, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1, h2, h3, h4, h5, h6,
header,
hgroup,
hr,
li,
main,
menu, // Not in https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
nav,
noscript,
ol,
output,
p,
pre,
section,
ul,
video !default;

// Block elements that usually contain just phrasing content or some kind of list items
$html-text-block-elements: address,
blockquote,
dl,
figcaption,
h1, h2, h3, h4, h5, h6,
ol,
p,
pre,
ul !default;

// https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content
$html-inline-elements: a,
abr,
acronym,
b,
bdo,
big,
br,
button,
cite,
code,
dfn,
em,
i,
img,
input,
kbd,
label,
map,
object,
q,
samp,
script,
select,
small,
span,
strong,
sub,
sup,
textarea,
time,
tt,
var !default;

//TODO: add parameters that add and remove elements from the default list
@mixin block-level-elements() {
  $elements: $html-block-elements;
  #{$elements} {
    @content;
  }
}
