$font-stacks: (
  Times: (font-family: ('Times New Roman', Times, serif), baseline-shift-factor: 0.66),
  Verdana: (font-family: (Verdana, sans-serif), baseline-shift-factor: 0.75),
  Helvetica: (font-family: (Helvetica, Arial, sans-serif), baseline-shift-factor: 0.68),
  Courier: (font-family: (Courier, sans-serif), baseline-shift-factor: 0.62),
  system-ui: (font-family: (system-ui, sans-serif)),
) !default;

// Add fonts to the global $font-stacks
// Use between importing this module and usage of font-stack()
// Example usage:
// @include register-font-stack('Georgia', (Georgia, serif), 0.62);
@mixin register-font-stack($stack-name, $font-family, $baseline-shift-factor) {
  $stack: (font-family: $font-family, baseline-shift-factor: $baseline-shift-factor);
  $font-stacks: map-merge($font-stacks, ($stack-name: $stack)) !global;
}

// Apply one of the defined font stacks
@mixin font-stack($stack-name) {
  $stack: map-get($font-stacks, $stack-name);
  @if($stack == null) {
    @error "Missing font stack: " + $stack-name + " - add it using mixin register-font-stack()";
  }

  font-family: map-get($stack, font-family);
  $baseline-shift-factor: map-get($stack, baseline-shift-factor);
  @if($baseline-shift-factor) {
    --baseline-shift-factor: #{$baseline-shift-factor};
  }

  * {
    font-family: inherit;
    --baseline-vertical-align: #{if($baseline-shift-factor, bottom, baseline)};
    --baseline-position: #{if($baseline-shift-factor, relative, static)};
  }
}

@mixin baseline-align {
  vertical-align: baseline;
  $bottom: calc((var(--line-height) - 1em * var(--baseline-shift-factor)) / 2);
  @supports(bottom: $bottom) {
    vertical-align: var(--baseline-vertical-align, baseline);
    position: var(--baseline-position, static);
    bottom: $bottom;
  }
}
