$font-stacks: (
  Times: (font-family: ('Times New Roman', Times, serif), baseline-shift-factor: 0.66),
  Verdana: (font-family: (Verdana, sans-serif), baseline-shift-factor: 0.75),
  //TODO: adjust baseline shift for Helvetica
  Helvetica: (font-family: (Helvetica, Arial, sans-serif), baseline-shift-factor: 0.75),
  //TODO: adjust baseline shift for Courier
  //TODO: check if Courier New has the same baseline shift as Courier - if not remove it!
  Courier: (font-family: ('Courier New', Courier, sans-serif), baseline-shift-factor: 0.75),
) !default;

// Add fonts to the global $font-stacks
// Use between including this module and usage of set-font()
// Example usage:
// @include register-font-stack('Georgia', (Georgia, serif), 0.62);
@mixin register-font-stack($stack-name, $font-family, $baseline-shift-factor) {
  $stack: (font-family: $font-family, baseline-shift-factor: $baseline-shift-factor);
  $font-stacks: map-merge($font-stacks, ($stack-name: $stack)) !global;
}

// Apply one of the defined font stacks
@mixin set-font($stack-name) {
  $stack: map-get($font-stacks, $stack-name);
  @if($stack == null) {
    @error "Missing font stack: " + $stack-name + " - add it using mixin register-font-stack()";
  }

  font-family: map-get($stack, font-family);
  --baseline-shift-factor: map-get($stack, baseline-shift-factor);

  * {
    font-family: inherit;
  }
}
