@import "sizing";

@mixin display-block($line-height: inherit) {
  display: block;
  @include line-height($line-height);
}

@mixin display-inline-block($vertical-align: bottom, $line-height: inherit) {
  display: inline-block;
  @include line-height($line-height);
  @if ($vertical-align) {
    vertical-align: $vertical-align;
  }
}

@mixin display-inline($vertical-align: baseline, $line-height: 0) {
  display: inline;
  // $line-height: 0 will prevent inline elements from affecting the line height of their parents should they have their size or font changed
  @include line-height($line-height);
  @if ($vertical-align) {
    vertical-align: $vertical-align;
  }
}

@mixin display-flex($line-height: inherit) {
  display: flex;
  @include line-height($line-height);

  > * {
    @include line-height($line-height);
  }
}
