@import "layout";

@mixin list-unstyled {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

@mixin list-inline {
  @include list-unstyled();

  > * {
    @include display-inline-block();
  }
}

@mixin list-comma-separated {
  @include list-unstyled();

  &, * {
    @include display-inline();
  }

  > {
    ::after {
      content: ', ';
    }
    :nth-last-child(2)::after {
      content: ' & ';
    }
    :last-child::after {
      content: '';
    }
  }
}
