@import "layout";

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin list-inline {
  @include list-unstyled();

  & > * {
    @include display-inline-block();

    &:not(:last-child) {
      margin-right: $spacing-base/4;
    }
  }
}

@mixin list-comma-separated {
  @include list-unstyled();
  @include display-inline();

  & > * {
    @include display-inline();

    &:after {
      content: ', ';
    }
    &:nth-last-child(2):after {
      content: ' & ';
    }
    &:last-child:after {
      content: '';
    }
  }
}
