// From https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/

// Break words when neccessary to stop overflow
// Use with hyphens: auto to add hyphens when breaking
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// Truncate overflow with ...
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
