@import "sizing";

@function generate-relative-shadow(
  $factor: 1,
  $color: black,
  $contrast-color: white
) {
  $lightness: 100% - lightness($contrast-color) + lightness($color);
  $shadow-color: scale_color(rgba($color, 0.12), $alpha: $lightness/4);
  @return shadow-relative($factor) $shadow-color,
    shadow-relative($factor/2) scale_color($shadow-color, $alpha: -50%);
}
