$spacing-base: 1rem !default;

@mixin set-length($properties, $factor: 1, $length-base: $spacing-base) {
  @each $property in $properties {
    #{$property}: $factor * $length-base;
    #{$property}: calc(#{$factor} * var(--spacing-base, #{$spacing-base}));
    @if ($property == height and round($factor) == $factor) {
      @extend %height-multiple !optional;
    }
  }
}

@mixin set-text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  @if type-of($line-height) == 'number' {
    @if (unit($line-height) == unit($spacing-base)) {
      $factor: round($line-height/$spacing-base);
      --line-height: calc(#{$factor} * var(--spacing-base, #{$spacing-base}));
    } @else {
      --line-height: $line-height;
    }
    line-height: var(--line-height);
  }
}
