$spacing-base: 1rem !default;

@mixin set-length($properties, $factor: 1, $length-base: $spacing-base) {
  @each $property in $properties {
    #{$property}: $factor * $length-base;
    #{$property}: calc(#{$factor} * var(--spacing-base, #{$spacing-base}))
  }
}

@mixin set-text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
  --line-height: $line-height;
  @if ($line-height != inherit) {
    line-height: var(--line-height);
  }
}

// TODO: move map-merge-natural-numbers to separate module
@function map-merge-natural-numbers($map: (), $max: 32) {
  @for $i from 1 through $max {
    $map: map-merge($map, (#{$i}: $i + 0));
  }

  @return $map;
}
