$text-direction-is-ltr: true !default;
$spacing-xs-suffix: '1\\/8' !default;
$spacing-s-suffix: '1\\/4' !default;
$spacing-m-suffix: '1\\/2' !default;

@import "sizing";

// Add marging, compensating with padding to a whole spacing base unit vertically
@mixin margin-relative($sides: top, $fraction: 1) {
  @each $side in $sides {
    @include length-relative(margin-#{$side}, $fraction);
  }

  @if(index($sides, top) and $fraction != round($fraction)) {
    $counter-fraction: ceil($fraction) - $fraction + floor($fraction);
    @include length-relative(padding-top, $counter-fraction);
    @include length-relative(padding-bottom, ceil($counter-fraction));
  }
}

// Add padding, totalling to a whole spacing base unit vertically
@mixin padding-relative($sides: top bottom left right, $fraction: 1) {
  $paddings: ();
  @each $side in $sides {
    $paddings: map-merge($paddings, ($side: $fraction));
  }

  @if($fraction != round($fraction)) {
    $counter-fraction: ceil($fraction) - $fraction + floor($fraction);
    @if(map-has-key($paddings, top)) {
      $paddings: map-merge($paddings, (bottom: $counter-fraction));
    } @else if(map-has-key($paddings, bottom)) {
      $paddings: map-merge($paddings, (top: $counter-fraction));
    }
  }

  @each $side, $fraction in $paddings {
    @include length-relative(padding-#{$side}, $fraction);
  }
}

// Add horizontal padding and make sure the last baseline-shifted element gets some bottom padding
@mixin space-inside($sides: top bottom left right, $suffix: $spacing-s-suffix) {
  //If the last child of a bordered element is baseline shifted, it's text lies on the bottom border - so add bottom padding!
  @if index($sides, bottom) {
    > %baseline-shift:last-child {
      @extend %pb-1 !optional;
    }
  }

  @if index($sides, left) and index($sides, right) {
    @extend %px-#{$suffix} !optional;
  } @else if index($sides, left) {
    @extend %pl-#{$suffix} !optional;
  } @else if index($sides, right) {
    @extend %pr-#{$suffix} !optional;
  }
}

// Add horizontal spacing between children
@mixin space-children-horizontally($suffix: $spacing-s-suffix, $ltr: $text-direction-is-ltr) {
  > *:not(:last-child) {
    @extend %m#{if($ltr, r, l)}-#{$suffix} !optional;
  }
}
