@supports (top: calc((var(--line-height) - 1em * var(--baseline-shift-factor)) / 2)) {
  /* %baseline-shift */
  %baseline-shift {
    position: relative;
    top: calc((var(--line-height) - 1em * var(--baseline-shift-factor)) / 2);

    & & {
      @extend %baseline-shift-off;
    }
  }

  /* %no-baseline-shift */
  %baseline-shift-off {
    position: initial;
    top: initial;
  }
}
