/* Placeholders for borders */
@import "../modules/borders";

/* %border-l */
%border-l {
  $sides: left;
  @include border-for-auto-height($sides);
}

/* %border-r */
%border-r {
  $sides: right;
  @include border-for-auto-height($sides);
}

/* %border-lr */
%border-lr {
  $sides: left right;
  @include border-for-auto-height($sides);
}

/* %border-t */
%border-t {
  $sides: top;
  @include border-for-auto-height($sides);
}

/* %border-b */
%border-b {
  $sides: bottom;
  @include border-for-auto-height($sides);
}

/* %border-tb */
%border-tb {
  $sides: top bottom;
  @include border-for-auto-height($sides);
}

/* %border */
%border {
  @include border-for-auto-height();
}

/* %border-0 */
%border-0 {
  @include border-for-auto-height($width: 0px);
}
