$body-font-stack: Times !default;
$headings-font-stack: $body-font-stack !default;
$forms-font-stack: Verdana !default;

/* Placeholders for fonts */
@import "../modules/fonts";

/* %font-body */
%font-body {
  @include font-stack($body-font-stack);
}

/* %font-headings */
%font-headings {
  @include font-stack($headings-font-stack);
}

/* %font-forms */
%font-forms {
  @include font-stack($forms-font-stack)
}
