$body-font-stack: Times !default;
$headings-font-stack: $body-font-stack !default;
$forms-font-stack: system-ui !default;
$monospace-font-stack: Courier !default;

/* Placeholders for fonts */
@import "../modules/fonts";

/* %font-body */
%font-body {
  @include font-stack($body-font-stack);
}

/* Keep browser's font for form inputs until specifically set */
input,
textarea,
select,
select * {
  font-family: system-ui, sans-serif;
}

/* %font-headings */
%font-headings {
  @include font-stack($headings-font-stack);
}

/* %font-monospace */
%font-monospace {
  @include font-stack($monospace-font-stack);
}

/* %font-forms */
%font-forms {
  @include font-stack($forms-font-stack);
}
