%list-unstyled {
  padding-left: 0;
  list-style: none;
}

%list-inline {
  & > * {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-base;
    }
  }
}

%list-comma-separated {
  //TODO: add comma-separation
}
