$spacing-fractions: (
  '1\\/8': 1/8,
  '1\\/6': 1/6,
  '1\\/4': 1/4,
  '1\\/3': 1/3,
  '1\\/2': 1/2,
  '2\\/3': 2/3,
  '3\\/4': 3/4,
  '5\\/6': 5/6,
  '7\\/8': 7/8,
) !default;

//TODO: replace usage of $vertical-padding-fractions with $spacing-fractions - but also check if 2 times the fraction is a whole number
$vertical-padding-fractions: ('1\\/2': 1/2) !default;

/* Placeholders for spacing */
@import "../modules/sizing";

// Margin placeholders are ordered with all sides in combination first (only 0) (`m`), being overwritten by:
// 1. Vertical margin (only 0) (`my`)
// 2. Horizontal margin (`mx`)
// 3. Top margin (only multiples) (`mt`)
// 4. Bottom margin (only 0) (`mb`)
// 5. Left and right margins (`ml` and `mr`)

%m-0 {
  /* #{&} */
  margin: 0;
}

%my-0 {
  /* #{&} */
  margin-top: 0;
  margin-bottom: 0;
}

%mx-0 {
  /* #{&} */
  margin-left: 0;
  margin-right: 0;
}

@each $suffix, $factor in map-merge-natural-numbers($spacing-fractions) {
  %mx-#{$suffix} {
    @include set-length(margin-left margin-right, $factor);
  }
}

%mt-0 {
  /* #{&} Reset vertical spacing */
  margin-top: 0;
}

@each $suffix, $factor in map-merge-natural-numbers() {
  %mt-#{$suffix} {
    @include set-length(margin-top, $factor);
  }
}

%mb-0 {
  /* #{&} */
  margin-bottom: 0;
}

%ml-0 {
  /* #{&} */
  margin-left: 0;
}

%mr-0 {
  /* #{&} */
  margin-right: 0;
}

@each $suffix, $factor in map-merge-natural-numbers($spacing-fractions) {
  %ml-#{$suffix} {
    @include set-length(margin-left, $factor);
  }

  %mr-#{$suffix} {
    @include set-length(margin-right, $factor);
  }
}

// Padding placeholders are ordered with all sides in combination first (`p`), being overwritten by:
// 1. Vertical padding (`py`)
// 2. Horizontal padding (`px`)
// 3. Top and bottom paddings (`pt` and `pb`)
// 4. Asymmetric vertical padding, where top and bottom add up to a multiple

%p-0 {
  padding: 0;
}

@each $suffix, $factor in map-merge-natural-numbers($vertical-padding-fractions) {
  %p-#{$suffix} {
    @include set-length(padding, $factor);
  }
}

%py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

@each $suffix, $factor in map-merge-natural-numbers($vertical-padding-fractions) {
  %py-#{$suffix} {
    @include set-length(padding-top padding-bottom, $factor);
  }
}

%px-0 {
  padding-left: 0;
  padding-right: 0;
}

@each $suffix, $factor in map-merge-natural-numbers($spacing-fractions) {
  %px-#{$suffix} {
    @include set-length(padding-left padding-right, $factor);
  }
}

%pt-0 {
  padding-top: 0;
}

%pb-0 {
  padding-bottom: 0;
}

@each $suffix, $factor in map-merge-natural-numbers() {
  %pt-#{$suffix} {
    @include set-length(padding-top, $factor);
  }

  %pb-#{$suffix} {
    @include set-length(padding-bottom, $factor);
  }
}

@each $suffix, $fraction in $spacing-fractions {
  $counter-fraction: ceil($fraction) - $fraction + floor($fraction);
  %pt-#{$suffix} {
    @include set-length(padding-top, $fraction);
    @include set-length(padding-bottom, $counter-fraction);
  }

  %pb-#{$suffix} {
    @include set-length(padding-bottom, $fraction);
    @include set-length(padding-top, $counter-fraction);
  }
}

//TODO: create mt placeholders that compensate with padding-top and a rounded up padding-bottom
