$font-sizes: medium large x-large xx-large !default;
$line-heights: 1.5 1.4 1.3 1.2 !default;
$font-size-smaller: smaller !default;

/* Placeholders for text */
@import "../modules/sizing";
@import "../modules/converters";
@import "../modules/layout";

@for $i from 1 through length($font-sizes) {
  /* %text-#{$i} */
  %text-#{$i} {
    @include size-text(nth($font-sizes, $i), nth($line-heights, $i));
    @extend %text-inline;
  }

  /* %text-#{$i}-block */
  %text-#{$i}-block {
    @include size-text(nth($font-sizes, $i), nth($line-heights, $i));
    display: block;

    $line-height-block: font-size-rem(if(unitless(nth($line-heights, $i)), nth($line-heights, $i) * if(type-of(nth($font-sizes, $i)) == string, font-size-rem(nth($font-sizes, $i)), nth($font-sizes, $i)), nth($line-heights, $i)));
    @for $j from $i through length($font-sizes) {
      $font-size-inline: font-size-rem(nth($font-sizes, $j));
      @if $font-size-inline > $line-height-block {
        %text-#{$j} {
          @extend %text-tight;
          @extend %text-#{$j}-tight !optional;
        }
      }
    }
  }
}

/* %text-small */
%text-small {
  @include size-text(font-size-em($font-size-smaller), false);
  @extend %text-inline;
}

/* %text-small-block */
%text-small-block {
  @include size-text(font-size-em($font-size-smaller), inherit);
  display: block;
}

/* %text-x-small */
%text-x-small {
  $font-size-smaller: font-size-em($font-size-smaller);
  @include size-text($font-size-smaller*strip-unit($font-size-smaller), false);
  @extend %text-inline;
}

/* %text-x-small-block */
%text-x-small-block {
  $font-size-smaller: font-size-em($font-size-smaller);
  @include size-text($font-size-smaller*strip-unit($font-size-smaller), inherit);
  display: block;
}

/* %text-inherit */
%text-inherit {
  @include size-text(inherit, inherit);
}

/* %text-inline */
%text-inline {
  @include display-inline();
}

/* %text-tight */
%text-tight {
  line-height: 1;
}
