// Utilities for white-space & line wrapping

@import "../../modules/overflow";

/* Combine .word-wrap with .hyphens-auto to add hyphens when breaking */
.word-wrap {
  @include word-wrap;
}

.word-break {
  @include word-break;
}

.truncate {
  @include ellipsis;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-words {
  overflow-wrap: break-word;
}

.break-normal {
  overflow-wrap: normal;
}

.hyphens-none {
  hyphens: none;
}

.hyphens-manual {
  hyphens: manual;
}

/* Beware that browser hyphenation is language specific and tends to also break quite short words whenever they overflow the container */
.hyphens-auto {
  hyphens: auto;
}
