// Utilities for borders
@import "../modules/borders";

// Utility classes for adding borders

.border-l {
  $sides: left;
  @include border-for-auto-height($sides);
}

.border-r {
  $sides: right;
  @include border-for-auto-height($sides);
}

.border-lr {
  $sides: left right;
  @include border-for-auto-height($sides);
}

.border-t {
  $sides: top;
  @include border-for-auto-height($sides);
}

.border-b {
  $sides: bottom;
  @include border-for-auto-height($sides);
}

.border-tb {
  $sides: top bottom;
  @include border-for-auto-height($sides);
}

.border {
  @include border-for-auto-height();
}

// Utility classes for removing borders

.border-0 {
  @include border-for-auto-height($width: 0px);
}

.unborder {
  @include border-for-auto-height($width: 0px);
  padding: 0;
}
