// Utilities for borders

$border-width: 2px !default;

.border {
  border: $border-width solid black;
  position: relative;
  top: -$border-width;
  margin-bottom: -2*$border-width;

  &%height-multiple {
    box-sizing: content-box;
    top: -$border-width;
  }
}
