// Utilities for colors
@import "../modules/colors";

$gray-color-utilities: (900: 10%, 800: 20%, 700: 30%, 600: 40%, 500: 50%, 400: 60%, 300: 70%, 200: 80%, 100: 90%) !default;
@each $gray-color-suffix, $gray-color-lightness in $gray-color-utilities {
  @include register-color(gray-#{$gray-color-suffix}, change_color(get-color(primary), $lightness: $gray-color-lightness, $saturation: 2%));
}

:root {
  @each $name, $color-pair in $colors {
    --color-#{$name}: #{get-color($name)};
    @if (length($color-pair) > 1) {
      --color-#{$name}-text: #{get-color($name, true)};
    }
  }
}

@each $name, $color-pair in $colors {
  .color-#{$name} {
    @include apply-color($name);
  }

  .border-color-#{$name} {
    @include apply-color($name, border-color);
  }

  @if (length($color-pair) > 1) {
    .border-color-#{$name}-text {
      @include apply-color($name, border-color, $apply-text-color: true);
    }

    .background-color-#{$name} {
      @include apply-background-color($name);

      @if ($name != body) {
        :link, :visited {
          color: currentColor;
        }
      }
    }
  }
}

.color-transparent {
  color: transparent;
}

.color-inherit {
  color: inherit;
}

.background-color-transparent {
  background-color: transparent;
}

.border-color-transparent {
  border-color: transparent;
}
