// Utilities for layout
@import "../modules/layout";
@import "../modules/lists";
@import "../modules/clearfix";

// Lists

.list-unstyled {
  @include list-unstyled();
}

.list-inline {
  @include list-inline();
}

.list-comma-separated {
  @include list-comma-separated();
}

// Display property

.block,
.block-children > * {
  @include display-block();
}

.inline-block,
.inline-block-children > *,
.inline-block-within * {
  @include display-inline-block();
}

.inline,
.inline-within * {
  @include display-inline();
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

// Visibility

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// Floats

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clearfix {
  @include clearfix;
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

// Overflow

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

// Position

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.pin-l {
  left: 0;
}

.pin-y {
  top: 0;
  bottom: 0;
}

.pin-x {
  right: 0;
  left: 0;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pin-none {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

// Z-Index

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

// Space inside - great for bordered elements

.space-inside-l {
  @include space-inside(left);
}

.space-inside-r {
  @include space-inside(right);
}

.space-inside-b {
  @include space-inside(bottom);
}

.space-inside {
  @include space-inside();
}

// Space children - great with minified html where inlined elements stack up against each other

.space-children-horizontally {
  @include space-children-horizontally();
}
