// Utilities for layout
@import "../modules/layout";
@import "../modules/lists";

// Lists

.list-unstyled {
  @include list-unstyled();
}

.list-inline {
  @include list-inline();
}

.list-comma-separated {
  @include list-comma-separated();
}

// Display property

.block,
.block-children > * {
  @include display-block();
}

.inline-block,
.inline-block-children > *,
.inline-block-within * {
  @include display-inline-block();
}

.inline,
.inline-within * {
  @include display-inline();
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

// Space inside - great for bordered elements

.space-inside-l {
  @include space-inside(left);
}

.space-inside-r {
  @include space-inside(right);
}

.space-inside-b {
  @include space-inside(bottom);
}

.space-inside {
  @include space-inside();
}

// Space children - great with minified html where inlined elements stack up against each other

.space-children-horizontally {
  @include space-children-horizontally();
}
