// Utilities for spacing
@import "../modules/spacing";
@import "../modules/sizing";
@import "../modules/extenders";

.my-0 {
  @extend %my-0;
}

$horizontal-margin-utilities: 1 2 3 4 6 !default;
@each $multiple in $horizontal-margin-utilities {
  .mx-#{$multiple} {
    @extend %mx-#{$multiple};
  }

  .ml-#{$multiple} {
    @extend %ml-#{$multiple};
  }

  .mr-#{$multiple} {
    @extend %mr-#{$multiple};
  }
}

.mt-0 {
  @extend %mt-0;
}

.mt-0-within * {
  @extend %mt-0;
}

$vertical-margin-utilities: 1 2 3 4 6 9 !default;
@each $multiple in $vertical-margin-utilities {
  .mt-#{$multiple} {
    @extend %mt-#{$multiple};
  }
}

.mb-0 {
  @extend %mb-0;
}

.mx-auto {
  /* Horizontally center a block */
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  /* Align a block to the right */
  margin-left: auto;
}

.mr-auto {
  /* Align a block to the left */
  margin-right: auto;
}

.p-0 {
  @extend %p-0;
}

.px-0 {
  @extend %px-0;
}

.py-0 {
  @extend %py-0;
}

.pt-0 {
  @extend %pt-0;
}

.pb-0 {
  @extend %pb-0;
}

$padding-utilities: 1 2 3 4 !default;
@each $multiple in $padding-utilities {
  .p-#{$multiple} {
    @extend %p-#{$multiple};
  }

  .px-#{$multiple} {
    @extend %px-#{$multiple};
  }

  .py-#{$multiple} {
    @extend %py-#{$multiple};
  }

  .pt-#{$multiple} {
    @extend %pt-#{$multiple};
  }

  .pb-#{$multiple} {
    @extend %pb-#{$multiple};
  }
}

$fraction-spacing-utilities: (
  '1\\/2': 1/2,
  '1\\/3': 1/3,
  '1\\/4': 1/4,
  '2\\/3': 2/3,
  '3\\/4': 3/4,
) !default;
@each $suffix, $factor in $fraction-spacing-utilities {
  .mx-#{$suffix} {
    @extend %mx-#{$suffix};
  }

  .mt-#{$suffix} {
    @extend %mt-#{$suffix};
  }

  .ml-#{$suffix} {
    @extend %ml-#{$suffix};
  }

  .mr-#{$suffix} {
    @extend %mr-#{$suffix};
  }

  .px-#{$suffix} {
    @extend %px-#{$suffix};
  }

  .pt-#{$suffix} {
    @extend %pt-#{$suffix};
  }
}


// Space inside - great for bordered elements

.space-inside-l {
  @include space-inside(left);
}

.space-inside-r {
  @include space-inside(right);
}

.space-inside-b {
  @include space-inside(bottom);
}

.space-inside {
  @include space-inside();
}

// Space children - great with minified html where inlined elements stack up against each other

.children\:space-horizontally {
  @include space-children-horizontally();
}

// Space gaps between columns and grid (and flex) items

@each $suffix, $factor in $fraction-spacing-utilities {
  .column-gap-#{$suffix} {
    @include length-relative(grid-column-gap, $factor);
    @include length-relative(column-gap, $factor);
  }
}

$gap-utilities: 1 2 3 4 !default;
@each $multiple in $gap-utilities {
  .gap-#{$multiple} {
    @include length-relative(grid-gap, $multiple);
    @include length-relative(gap, $multiple);
  }

  .column-gap-#{$multiple} {
    @include length-relative(grid-column-gap, $multiple);
    @include length-relative(column-gap, $multiple);
  }

  .row-gap-#{$multiple} {
    @include length-relative(grid-row-gap, $multiple);
    @include length-relative(row-gap, $multiple);
  }
}

.gap-0 {
  grid-gap: 0;
  gap: 0;
}

.column-gap-0 {
  grid-column-gap: 0;
  column-gap: 0;
}

.row-gap-0 {
  grid-row-gap: 0;
  row-gap: 0;
}

.column-gap-normal {
  column-gap: normal;
}

@include extend-for-children(mt-0 mt-1 space-inside mx-auto ml-auto mr-auto);
@include extend-for-subselector(mt-1, 'adjacent-children\\:', '> * + *')
