// Opinionated form styles

input, button, select {
  border-color: $border-color;
  border-style: $border-style;
  border-radius: $spacing-base/8;
}

input, select {
  background: initial;
}

input:not([type='checkbox']):not([type='radio']) {

}

[type='checkbox'],
[type='radio'] {

}

select {

}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background: transparent;

  // Buttons go on their own line
  display: block;

  label:only-of-type ~ & {
    // Forms with just one input have their buttons inline
    display: inline-block;
    margin-top: 0;
  }

  &:active {
    color: currentColor;
    border-color: transparent;
  }
}

input::placeholder, textarea::placeholder {
  color: inherit;
  opacity: .5;
}

label {
  // Labels go on their own line above their inputs
  display: block;
}

form {
  &.inline-form {
    * {
      display: inline-block;
    }
  }
}
