/* Kingdom CSS Extension - Print */
@import "../modules/layout";

.print-only-block,
.print-only-inline-block,
.print-only-inline {
  display: none;
}

@media print {
  .print-only-block {
    @include display-block();
  }

  .print-only-inline-block {
    @include display-inline-block();
  }

  .print-only-inline {
    @include display-inline();
  }

  h1, h2, h3, h4, h5, h6, hgroup {
    page-break-after: avoid;
    break-after: avoid;
  }

  nav, header, footer, table, hgroup {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
