/* Kingdom CSS Extension - Print */
@import "../modules/layout";

.print-only-block,
.print-only-inline-block,
.print-only-inline {
  display: none;
}

@media print {

  // Display

  .print-hidden {
    display: none;
  }

  .print-invisible {
    visibility: hidden;
  }

  nav, aside {
    @extend .print-hidden;
  }

  .print-only-block,
  .print-block {
    @include display-block();
  }

  .print-only-inline-block,
  .print-inline-block {
    @include display-inline-block();
  }

  .print-only-inline,
  .print-inline {
    @include display-inline();
  }

  // Print links
  // https://www.smashingmagazine.com/2013/03/tips-and-tricks-for-print-style-sheets/#expand-external-links-for-print
  .print-href {
    text-decoration: none;
    font-weight: bolder;

    &:after {
      content: " <" attr(href) ">";
    }
  }

  .print-links-inside {
    *:link {
      &[href^=http] {
        @extend .print-href;
      }

      &.hide-href:after {
        /* Add class hide-href on a link to not print a link */
        content: "";
      }

      &:local-link:after {
        content: ""; // Can't extend .hide-href because :local-link is not a valid css selector (yet)
      }
    }
  }

  article {
    @extend .print-links-inside;
  }

  // Page breaks

  h1, h2, h3, h4, h5, h6, hgroup {
    page-break-after: avoid;
    break-after: avoid;
  }

  nav, header, footer, table, hgroup, ul, ol, img, article {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  // Backgrounds

  body {
    color: black !important;
    background: white !important;
  }

  .print-background-transparent {
    background: transparent !important;
    color: inherit !important;
  }

  @media (color) {
    .print-background-exact {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;

      * {
        -webkit-print-color-adjust: inherit;
        color-adjust: inherit;
      }
    }

    .print-background-economy {
      -webkit-print-color-adjust: economy;
      color-adjust: economy;
    }
  }

  //Shadows

  .print-remove-shadows {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  // Abbreviations

  abbr[title] {
    text-decoration: none;

    &:after {
      content: " (" attr(title) ")";
    }
  }
}
