$px-rem-ratio: 16 !default;
$px-in-ratio: 96 !default;
$em-ex-ratio: 0.5 !default;
$absolute-font-sizes: (
  xx-small: 55%,
  x-small: 60%,
  small: 80%,
  medium: 100%,
  large: 110%,
  x-large: 150%,
  xx-large: 200%
);
$relative-font-sizes: (
  smaller: 80%,
  larger: 110%,
);

@import "strip-unit";

// Convert css length value to approximate equivalent in rem
@function length-rem($length) {
  @if (index('em' 'rem', unit($length)) != null) {
    @return strip-unit($length)*1rem;
  }

  //TODO: handle in, mm, cm, pt, pc https://developer.mozilla.org/en-US/docs/Web/CSS/length

  @return $length/($px-rem-ratio*1px)*1rem;
}

// Convert font-size to approximate equivalent in rem
@function font-size-rem($font-size) {
  @if map-has_key($absolute-font-sizes, $font-size) {
    $font-size: map-get($absolute-font-sizes, $font-size);
  } @else if map-has_key($relative-font-sizes, $font-size) {
    $font-size: map-get($relative-font-sizes, $font-size);
  } @else if (unit($font-size) == 'ex') {
    $font-size: strip-unit($font-size)*$em-ex-ratio*1em;
  }

  @if (index('em' 'rem', unit($font-size)) != null) {
    $font-size: strip-unit($font-size);
  } @else if (unit($font-size) == '%') {
    $font-size: $font-size/100%;
  } @else if (unit($font-size) == 'px') {
    $font-size: $font-size/($px-rem-ratio*1px);
  }

  @return $font-size*1rem;
}

// Convert font-size to approximate equivalent in px
@function font-size-px($font-size) {
  @if (unit($font-size) == 'px') {
    @return $font-size;
  }

  @return strip-unit(font-size-rem($font-size))*$px-rem-ratio*1px;
}

// Convert font-size to approximate relative size
@function font-size-em($font-size) {
  @return font-size-rem($font-size)/1rem*1em;
}
