$text-color: black !default;
$body-background-color: white !default;
$border-color: currentColor !default;
$body-padding: 0 !default;

/* Kingdom CSS Level 1 - Reset */

// For inspiration on other resets you may want to do/include, check out:
// https://github.com/necolas/normalize.css
// https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
// https://github.com/shankariyerr/tinyreset

body {
  color: $text-color;
  background-color: $body-background-color;
  padding: $body-padding;
}

html, body {
  margin: 0;
}

// Reset the default box-sizing to border-box but make it easy to override when needed
// https://css-tricks.com/box-sizing/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set a default border style to allow just setting border-width when needed
// https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*,
*::before,
*::after {
  border: 0 solid $border-color;
}

hr {
  border-top-width: 1px;
}

// Make sure elements are not displayed
[hidden], template {
  display: none;
}

// Correct display type
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu,
hgroup // hgroup is deprecated but may be useful to include anyway
{
  display: block;
}

// Correct svg overflow in IE
svg:not(:root) {
  overflow: hidden;
}

// Responsive images
// https://alligator.io/css/minimal-css-reset/
img {
  max-width: 100%;
  height: auto;
}

// Prevent small from affecting the line height of their parents
small {
  line-height: 0;
}

// Prevent sub- and superscript from affecting the line height of their parents
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  a &, u & {
    display: inline-block; // Remove underline
    // Make sure vertical margins are reset when block level element
    margin-top: 0;
    margin-bottom: 0;
  }
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Reset form elements
button,
input,
optgroup,
select,
textarea,
label,
output {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  //display: inline-block;
  //vertical-align: baseline;
}

// Correct the inability to style clickable types in iOS and Safari.
// https://github.com/necolas/normalize.css
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

select {
  // Touching the borders on select removes the default styling in Safari.
  // Reverting borders on select will bring back default styling.
  //border: revert;
}

@import "placeholders/sizing";
@import "placeholders/spacing";
@import "placeholders/text";
@import "placeholders/fonts";
@import "placeholders/borders";
