$body-padding: 0 !default;

/* Kingdom CSS Level 1 - Reset */

// For inspiration on other resets you may want to do/include, check out:
// https://github.com/necolas/normalize.css
// https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
// https://github.com/shankariyerr/tinyreset


// Register default colors
@import "modules/colors";

// Generate a primary color and corresponding text color if not already defined in $colors map
@include register-color(primary, hsl(random(361), 30+random(60), 20+random(60)));

// Generate body background and text color if not already defined in $colors map
@if lightness(get-color(primary)) < 50% {
  @include register-color(body, scale_color(adjust_hue(get-color(primary), 120deg), $lightness: 99%, $saturation: -75%));
} @else {
  @include register-color(body, scale_color(adjust_hue(get-color(primary), -120deg), $lightness: -70%, $saturation: -85%));
}

// Generate link color if not already defined in $colors map
@include register-color(link, mix(change_color(transform-hue(get-color(primary), blue), $lightness: 50%, $saturation: 100%), desaturate(get-color(body, true), 100%), 50%), $ensure-text-color: false);

// Generate visited link color if not already defined in $colors map
@include register-color(visited, get-color(link), $ensure-text-color: false);

// Generate a border color if not already defined in $colors map
@include register-color(border, currentColor);

// Generate caution background and text color if not already defined in $colors map
@include register-color(caution, normalize-color(transform-hue-with-contrast(get-color(primary), red)));

// Generate disabled background and text color if not already defined in $colors map
@include register-color(disabled, change_color(get-color(body), $saturation: 1%, $lightness: 90%, $alpha: .75) change_color(get-color(body), $saturation: 1%, $lightness: 50%));

// Import other modules
@import "modules/sizing";
@import "modules/element-types";
@import "modules/borders";

// Start resetting

body {
  padding: $body-padding;
  @include apply-background-color(body);
  @if (lightness(get-color(body, true)) > 50%) {
    $body-font-stack: Verdana !default !global;
    @extend %font-body;
  }
}

html, body {
  margin: 0;
}

// Reset the default box-sizing to border-box but make it easy to override when needed
// https://css-tricks.com/box-sizing/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@include block-level-elements() {
  // Correct display type
  display: block;

  @include border-reset();
}

@include inline-block-elements($except: (button, input, select, textarea), $including: (li)) {
  @include border-reset();
}

*::before,
*::after {
  @include border-reset();
}

hr {
  border-top-width: 1px;
}

// Make sure elements are not displayed
[hidden], template {
  display: none !important;
}

// https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: none !important;
}

// Correct svg overflow in IE
svg:not(:root) {
  overflow: hidden;
}

// Responsive images
// https://alligator.io/css/minimal-css-reset/
img {
  max-width: 100%;
  height: auto;
}

// Prevent inline elements from affecting the line height of their parents should they have their size changed
@include inline-elements() {
  @extend %text-inline;
}

// Prevent sub- and superscript from affecting the line height of their parents
sub, sup {
  position: relative;
  vertical-align: baseline;

  a &, u & {
    display: inline-block; // Remove underline
    // Make sure vertical margins are reset when block level element
    margin-top: 0;
    margin-bottom: 0;
  }
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

//Show the overflow in IE.
// https://github.com/necolas/normalize.css
button,
input {
  overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
// https://github.com/necolas/normalize.css
button,
select {
  text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.
// https://github.com/necolas/normalize.css
button,
html [type="button"],
[type="reset"],
[type="submit"],
::-webkit-file-upload-button {
  -webkit-appearance: button;
  // When buttons' font-size or line-height reaches 22px WebKit will stop rendering default style
}

// https://github.com/necolas/normalize.css
::-webkit-file-upload-button {
  font: inherit;
}

// Remove the inner border and padding in Firefox.
// https://github.com/necolas/normalize.css
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border-width: 1px; // Restore border removed by the border reset
  @include length-relative(padding, 1/2);
}

// https://github.com/necolas/normalize.css
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  // Limit textarea resizing direction
  resize: vertical;
  // Remove the default vertical scrollbar in IE.
  overflow: auto;
}

// Remove the padding in IE 10-
// https://github.com/necolas/normalize.css
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
// https://github.com/necolas/normalize.css
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

// https://github.com/necolas/normalize.css
[type="search"] {
  -webkit-appearance: textfield; //Correct the odd appearance in Chrome and Safari.
  outline-offset: -2px; //Correct the outline style in Safari.
}

//Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
// https://github.com/necolas/normalize.css
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Work around a Firefox/IE bug where a transparent `button` background results in a loss of the default `button` focus styles.
// https://github.com/suitcss/base
button, [type='button'], [type='reset'], [type='submit'] {
  &:focus {
    outline: 1px dotted;
    outline: -webkit-focus-ring-color auto 5px; // The Chrome default outline
  }
}

*:link {
  @include apply-color(link);
}

*:visited {
  @include apply-color(visited);
}

table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td {
  @include border-reset();
  padding: 0;
  border-collapse: collapse;
}

td, th {
  @include length-relative(padding-left padding-right, 1/4);
}

ol, ul, dd {
  @include length-relative(padding-left, 1);
}

dt {
  font-weight: bold;
}

@import "placeholders/fonts";
@import "placeholders/text";

@import "placeholders/sizing";
@import "placeholders/spacing";
@import "placeholders/borders";
