$desired-body-font-size: 18px !default;
$body-line-height-factor: 1.5 !default;
$min-line-height-factor: 1.2 !default;
$modular-scale: 1.2 !default;
$font-size-smaller: 100%/$modular-scale !default;

@import "modules/converters";

// If not already set, fill $font-sizes with 6 rem values following a modular scale
$font-sizes: font-size-rem($desired-body-font-size) !default;
@while (length($font-sizes) < 6) {
  $font-sizes: append($font-sizes, font-size-rem(nth($font-sizes, length($font-sizes))) * $modular-scale);
}

// If not already set, fill $line-heights with 6 relative factors going linearly from $body-line-height-factor down to $min-line-height-factor
$line-heights: $body-line-height-factor !default;
@while (length($line-heights) < 6) {
  $line-heights: append($line-heights, (length($line-heights) + 1) * ($min-line-height-factor - $body-line-height-factor) / 5 + (6 * $body-line-height-factor - $min-line-height-factor) / 5);
}

// If not already set, make the spacing base a length value equivalent of the first line-height
$spacing-base: if(unitless(nth($line-heights, 1)), nth($line-heights, 1) * if(type-of(nth($font-sizes, 1)) == string, font-size-rem(nth($font-sizes, 1)), nth($font-sizes, 1)), nth($line-heights, 1)) !default;

@import "L1-reset";

/* Kingdom CSS Level 2 - Sizing and Spacing */

:root {
  --spacing-base: $spacing-base;
}

* {
  // Reset all margins to 0
  @extend %m-0;
}

* + * {
  // Set default vertical spacing between all adjacent elements
  @extend %mt-1;
}

dt, li, hgroup,
h1, h2, h3, h4, h5, h6 {
  // Reset vertical spacing on adjacent siblings on closely related elements
  + * {
    @extend %mt-0;
  }
}

@include inline-elements {
  // Reset vertical spacing on inline elements
  @extend %mt-0;
}

@include inline-block-elements {
  // Reset vertical spacing on inline-block elements
  @extend %mt-0;
}

dl {
  // Reset vertical spacing on children
  > * {
    @extend %mt-0;
  }
}

figure, picture, object, select, table, audio, video, map {
  // Reset all vertical spacing deep inside
  * {
    @extend %mt-0;
  }
}

// Size form elements

fieldset {
  @extend %py-1\/2;
  @extend %px-1\/4;

  > legend + * {
    @extend %mt-0;
  }
}

textarea:not([cols]) {
  width: 100%;
}

// Apply text properties to elements...

* {
  @extend %text-inherit;
}

select * {
  // Inherited font properties look weird within select elements in browsers that allow modification
  line-height: normal;
  font-size: medium;
}

body {
  @extend %text-1-block;
}

small {
  @extend %text-small;
}

sub, sup {
  @extend %text-x-small;
}

h1 {
  @extend %text-4-block;
}

h2 {
  @extend %text-3-block;
}

h3 {
  @extend %text-2-block;
}

h4 {
  @extend %text-1-block;
}

h5 {
  @extend %text-small-block;
}

h6 {
  @extend %text-x-small-block;
}

ol, ul {
  @extend %pl-1;
}

dt {
  font-weight: bold; // Make description lists stand out after margins have been removed on dd
}
