$desired-body-font-size: 18px !default;
$body-line-height-factor: 1.5 !default;
$min-line-height-factor: 1.2 !default;

@import "modules/converters";

$body-leading: round(font-size-px($desired-body-font-size)*$body-line-height-factor)/font-size-px(1)*1rem !default;
$vertical-rhythm-base: $body-leading;
$spacing-base: $vertical-rhythm-base;

@import "modules/flow-rhythm";

$font-sizes: flow-font-size(1, $body-line-height-factor),
flow-font-size(1, ($min-line-height-factor + $body-line-height-factor)/2),
flow-font-size(1, $min-line-height-factor),
flow-font-size(2, $min-line-height-factor),
flow-font-size(3, $min-line-height-factor),
flow-font-size(4, $min-line-height-factor) !default;

$line-heights: ();
@each $font-size in $font-sizes {
  $line-heights: append($line-heights, flow-line-height($font-size));
}

@import "L2-sizing";

/* Kingdom CSS Level 3 - Vertical Rhythm */

hr {
  @extend %h-px;
  border: 0;
  background-color: $border-color;
}

$input-border-width: 1px !default;
input, button, select {
  @include set-border-preserving-line-height($vertical-rhythm-base, $input-border-width);
  outline-offset: -2px; //Same focus ring size for same border in Safari
}

[type='checkbox'], [type='radio'] {
  vertical-align: baseline;
  height: auto;
}

select {
  -webkit-appearance: menulist-button; //Force select out of Safari default styling
}

.visualize-vertical-rhythm {
  // This doesn't work very well when $vertical-rhythm-base doesn't correspond to a whole pixel value
  $grid-color: rgba(red, 0.15);
  background-image: linear-gradient($grid-color, $grid-color 1px, transparent 1px);
  background-size: 1px $vertical-rhythm-base;
  background-size: 1px var(--spacing-base, $vertical-rhythm-base);
}
