$desired-body-font-size: 18px !default;
$body-line-height-factor: 1.5 !default;
$min-line-height-factor: 1.2 !default;

@import "modules/converters";

$body-leading: round(font-size-px($desired-body-font-size)*$body-line-height-factor)/font-size-px(1)*1rem !default;
$vertical-rhythm-base: $body-leading;
$spacing-base: $vertical-rhythm-base;

@import "modules/flow-rhythm";

$font-sizes: flow-font-size(1, $body-line-height-factor),
flow-font-size(1, ($min-line-height-factor + $body-line-height-factor)/2),
flow-font-size(1, $min-line-height-factor),
flow-font-size(2, $min-line-height-factor),
flow-font-size(3, $min-line-height-factor),
flow-font-size(4, $min-line-height-factor) !default;

$line-heights: ();
@each $font-size in $font-sizes {
  $line-heights: append($line-heights, flow-line-height($font-size));
}

@import "L2-sizing";

/* Kingdom CSS Level 3 - Vertical Rhythm */

hr {
  @extend %h-px;
  border: 0;
  background-color: $border-color;
}

$input-border-width: 1px !default;
input, button, select {
  @include set-border-preserving-line-height($vertical-rhythm-base, $input-border-width);
  outline-offset: -2px; //Same focus ring size for same border in Safari
}

[type='checkbox'], [type='radio'] {
  vertical-align: baseline;
  height: auto;
}

select {
  $safari-select-line-height: 1.225; //This line height is calculated for Safari

  &[multiple], &[size] {
    // Multiple and sized selects may span several lines
    @include set-length(min-height, 1);
    max-height: 100%;
    vertical-align: top;

    // https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
    @media screen and (min-device-width: 1200px) {
      // Enable vertical growth on multiple and sized selects, but not on mobile devices that should keep the button style
      height: auto;
      @supports (-webkit-appearance:none) {
        /* Hack to not apply in IE, see http://browserhacks.com/#hack-8a0d11a6b2e3d172711eed35cb7237b9 */
        font-size: 3*$vertical-rhythm-base/4/$safari-select-line-height; //Fit four options into three lines of the vertical rhythm in Safari
        * {
          //If any browser can set line-height on options/optgroup it's here for consistency
          line-height: $safari-select-line-height;
        }
      }
    }
  }

  &[multiple]:not([size]) {
    @include set-length(max-height, 3);
  }

  &:not([multiple]):not([size]) {
    &:not(*:root) {
      /* Hack to not apply in Edge, see http://browserhacks.com/#hack-f4ade0540d8e891e8190065f75acb186 */
      /* Force dropdown selects out of Safari default styling, to fit on one line */
      -webkit-appearance: menulist-button;
    }

  }
}

textarea {
  @include set-border-for-auto-height($width: $input-border-width);
  padding-top: 0;
  padding-bottom: 0;
  @include set-length(min-height, 2);
  //TODO: Textareas doesn't quite fill up two lines in IE 11
}

.visualize-vertical-rhythm {
  // This doesn't work very well when $vertical-rhythm-base doesn't correspond to a whole pixel value
  $grid-color: rgba(red, 0.15);
  background-image: linear-gradient($grid-color, $grid-color 1px, transparent 1px);
  background-size: 1px $vertical-rhythm-base;
  background-size: 1px var(--spacing-base, $vertical-rhythm-base);
}
