$body-font-stack: 'Times New Roman' !default;
$baseline-shift-elements: p blockquote address li dt dd h1 h2 h3 h4 h5 h6 !default;

@import "L3-rhythm";

/* Kingdom CSS Level 4 - Baseline Rhythm */

@import "modules/_text.scss";

body {
  @include set-font($body-font-stack);
}

* {
  font-family: inherit;
}

@import "placeholders/baseline";

@each $element in $baseline-shift-elements {
  #{$element} {
    @extend %baseline-shift;
  }
}
