// Utilities for box alignment
// https://www.w3.org/TR/css-align-3/#overview
// https://rachelandrew.co.uk/css/cheatsheets/box-alignment

/*

  `align-self` / `align-items` on the block/column/cross axis, within "lines".

  `align-content` in any additional space on the block/column/cross axis of the container.
  - No effect in flexbox unless there are multiple "lines" on the cross axis with `wrap`.

  `justify-self` / `justify-items` on the inline/row axis, within "columns".
  - In flexbox, use auto margin instead.

  `justify-content` in any additional space on the inline/row/main axis of the container.

*/


/* justify-content in additional space along the inline axis */

.justify-content-start {
  justify-content: start;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

/* align-content in additional space along the block axis */

.align-content-start {
  align-content: start;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: end;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-baseline {
  align-content: baseline;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

/* justify-self along the inline axis */

.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-flex-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-flex-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.justify-self-baseline {
  justify-self: baseline;
}

/* align-self along the block axis */

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: start;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: end;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

/* justify-items along the inline axis (controls child items’ justify-self: auto) */

.justify-items-start {
  justify-items: start;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-items-baseline {
  justify-items: baseline;
}

/* align-items along the block axis (controls child items’ align-self: auto) */

.align-items-start {
  align-items: start;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: end;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}
