// Utilities for box alignment
// https://www.w3.org/TR/css-align-3/#overview

/* Align content within element (effectively adjusts padding) */

// justify-content along main/inline axis

.justify-content-start {
  justify-content: start;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

// align-content along cross/block axis (only effects multiple lines in flexbox)

.align-content-start {
  align-content: start;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: end;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-baseline {
  align-content: baseline;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

/* Align element within parent (effectively adjusts margins) */
//TODO: is this where the text-direction margin auto utils should go? (currently in _spacing.scss)
/* justify-self along inline axis */

.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-flex-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-flex-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.justify-self-baseline {
  justify-self: baseline;
}

/* align-self along cross/block axis */

.align-self-auto {
  align-self: auto;
}

.align-self-start {
  align-self: start;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: end;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-baseline {
  align-self: baseline;
}

/* Align items inside box (effectively adjusts child items' margins) */

/* justify-items along inline axis (controls child items’ justify-self: auto) */

.justify-items-start {
  justify-items: start;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.justify-items-baseline {
  justify-items: baseline;
}

/* align-items along cross/block axis (controls child items’ align-self: auto) */

.align-items-start {
  align-items: start;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: end;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}
