// Utilities for columns
@import "../../modules/sizing";
@import "../../modules/breakpoints";
@import "../../modules/converters";

.columns-readable,
.columns-readable-viewport {
  max-width: $readable-line-length-max;
}

@supports (column-span: all) {
  .columns-readable {
    max-width: none;
    column-width: $readable-line-length-min;
  }

  .columns-2 {
    column-count: 2;
  }

  .columns-3 {
    column-count: 3;
  }

  .columns-4 {
    column-count: 4;
  }

  .columns-none {
    columns: auto;
  }

  .column-span-all {
    column-span: all;
  }

  .column-span-none {
    column-span: none;
  }

}

@media screen and (min-width: #{get-breakpoint(two-columns)}) {
  @supports (columns: length-rem($readable-line-length-min) auto) and (max-height: calc(100vh - 6 * var(--spacing-base))) {
    .columns-readable-viewport {
      columns: length-rem($readable-line-length-min) auto;
      max-width: none;
      max-height: calc(100vh - 6 * var(--spacing-base));

      .overflow-x-auto & {
        min-width: calc(100% + #{length-rem($spacing-base)});
        @include length-relative(padding-bottom);
      }
    }
  }
}
