// Utilities for columns
@import "../../modules/sizing";

.columns-readable {
  @include max-width-readable();
}

@supports (column-span: all) {
  .columns-readable {
    max-width: none;
    column-width: $readable-line-length-min;
  }

  .columns-2 {
    column-count: 2;
  }

  .columns-3 {
    column-count: 3;
  }

  .columns-4 {
    column-count: 4;
  }

  .columns-none {
    columns: auto;
  }

  .column-span-all {
    column-span: all;
  }

  .column-span-none {
    column-span: none;
  }

}
