// Utilities for display property
@import "../../modules/layout";
@import "../../modules/extenders";

.block {
  @include display-block();
}

.inline-block {
  @include display-inline-block();
}

.inline {
  @include display-inline();
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

//TODO: remove the .hidden util? One should use the hidden html attribute anyway
.hidden {
  display: none;
}

@include extend-for-children(block inline-block table-row table-cell);
@include extend-for-descendants(inline inline-block);
