// Utilities for flexbox

// Display

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

// Direction

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

// Wrapping

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// Flex, grow & shrink

.flex-initial {
  flex: initial;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-no-shrink {
  flex-shrink: 0;
}

// Flex basis

.flex-basis-fill {
  flex-basis: fill;
}

.flex-basis-max-content {
  flex-basis: max-content;
}

.flex-basis-min-content {
  flex-basis: min-content;
}

.flex-basis-fit-content {
  flex-basis: fit-content;
}

.flex-basis-content {
  flex-basis: content;
}

.flex-basis-five-sixths {
  flex-basis: 83.33333%;
}

.flex-basis-four-fifths {
  flex-basis: 80%;
}

.flex-basis-three-quarters {
  flex-basis: 75%;
}

.flex-basis-two-thirds {
  flex-basis: 66.66666%;
}

.flex-basis-three-fifths {
  flex-basis: 60%;
}

.flex-basis-half {
  flex-basis: 50%;
}

.flex-basis-two-fifths {
  flex-basis: 40%;
}

.flex-basis-third {
  flex-basis: 33.33333%;
}

.flex-basis-quarter {
  flex-basis: 25%;
}

.flex-basis-fifth {
  flex-basis: 20%;
}

.flex-basis-sixth {
  flex-basis: 16.66666%;
}
