// Utilities for floats
@import "../../modules/clearfix";
@import "../../modules/text-direction";

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clearfix {
  @include clearfix;
}

.float-start {
  @include in-ltr-context {
    float: left;
  }
  @include in-rtl-context {
    float: right;
  }
}

.float-end {
  @include in-ltr-context {
    float: right;
  }
  @include in-rtl-context {
    float: left;
  }
}
