// Utilities for grid
@import "../../modules/sizing";
@import "../../modules/layout";

// Display

.grid {
  @include display-grid();
}

.inline-grid {
  @include display-inline-grid();
}

.grid-auto-flow-column {
  grid-auto-flow: column;
}

.grid-auto-flow-row {
  grid-auto-flow: row;
}

@for $i from 1 through 10 {
  .grid-column-span-#{$i} {
    grid-column-start: span $i;
    grid-column-end: span $i;
  }

  .grid-row-span-#{$i} {
    grid-row-start: span $i;
    grid-row-end: span $i;
  }
}

.grid-column-span-all {
  grid-column: 1 / -1;
}

.grid-row-span-all {
  grid-row: 1 / -1;
}

.grid-auto-column-readable {
  grid-auto-columns: minmax-readable();
}
